
body {
  overflow: hidden;
}

.headerPrincipal {
  width: 100vw;
  height: 15vh;
  background-color: #506380;
  box-shadow: 0px 1px 2px #052049;
  overflow: hidden;

  .botao1 {
    display: flex;
    position: absolute;
    right: 3rem;
    border: 1px solid #052049;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -2.2rem;
    background-color: #9ba6b6;
    width: 5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    transition: 1s;

    &:hover {
      background-color: #e6e9ed;
      scale: 1.1;
    }
  }
}

mat-form-field {
  display: flex;
  align-items: center;
}

.example-container {
  background-color: #e6e9ed;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  h1{
    color:#052049;
  }

  .botaoAdd {
    background-color: #e6e9ed;
    border: 1px solid #052049;
    box-shadow: 0px 1px 2px #052049;
    border-radius: 3px;
    width: 20rem;
    height: 2rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
   }
}
